==================== Please do not change the line number ====================

# Account name
replace this line with your account name

# Account password
replace this line with your account password

# preferred movie categories
电影

# preferred movie resolutions
720P

# preferred show categories
美剧		日剧		mini剧		电视剧

# preferred show resolutions
HR-HDTV

# preferred source type
驴		迅雷
